body {
    font-family: 'Calibri', serif;
    background: #eee;
}

h1 {
    text-align: left;
    margin-left: 2%;
}

.canvas-container {
    text-align: left;
    margin: 1% 2% 0% 2%;
    max-width: 40em;
}

canvas {
    width: 65%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 1% auto;
    border: 1px solid black;
    background: #fff;
}

button {
    margin: 0 1%;
}

#size-buttons {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 4%;
}

.size-button {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0.1% 0.1%;
    border: none;
    border-right: 2px solid black;
    background: #ccc;
    color: #000;
    cursor: pointer;
    text-align: center;
}

/* Get rid of black line */
.size-button:last-child {
    border-right: none;
}

.size-button.active {
    background: #007BFF;
    color: #fff;
}